In [1]:
import pandas as pd
df = pd.read_csv("DataClean.csv")
text_cols = ['Status', 'Education', 'Industry', 'Location', 'AI Risk']
for col in text_cols:
    df[col] = df[col].astype(str).str.strip().str.title()
age_col = df['Age Group'].astype(str)
age_col = age_col.str.replace('_', ' ', regex=False)
age_col = age_col.str.replace('-', ' ', regex=False)
age_col = age_col.str.replace('to', ' ', regex=False)
age_col = age_col.str.replace('  ', ' ', regex=False)
age_col = age_col.str.replace('  ', ' ', regex=False)
age_col = age_col.str.strip().str.replace(' ', '-', regex=False)
df['Age Group'] = age_col
df['Date Recorded'] = pd.to_datetime(df['Date Recorded'], errors='coerce')
for col in text_cols + ['Age Group']:
    df[col] = df[col].replace('nan', 'Unknown')
median_years = df['Years of Experience'].median()
median_salary = df['Monthly Salary (INR)'].median()
df['Years of Experience'] = df['Years of Experience'].fillna(median_years)
df['Monthly Salary (INR)'] = df['Monthly Salary (INR)'].fillna(median_salary)
print(df.head())

       Status Age Group    Education    Industry   Location   AI Risk  \
0    Employed     25-34  High School  Technology      Urban       Nan
1    Employed     18-24      Diploma     Fintech      Rural  Moderate
2    Employed     25-34  High School      Retail      Delhi       Low
3  Unemployed     18-24      Masters      Retail      Urban       Low
4         Nan     45-54      Diploma     Fintech  Hyderabad       Low

   Years of Experience  Monthly Salary (INR) Date Recorded
0                 16.0               40700.0    2023-01-01
1                 16.0               17500.0    2023-01-02
2                 16.0               77600.0    2023-01-03
3                 30.0              100200.0    2023-01-04
4                  9.0               19500.0    2023-01-05